<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<!-- <select name= places method="GET" action="/">
    {% for place in places %}
    <option value= "{{place}}" SELECTED>{{place}}</option>"
    {% endfor %}
</select> -->
<form id="counties" method="POST" action="/" enctype="multipart/form-data">
    <select onchange="this.form.submit()" style="font-size:25px;" id="selectedCounty" name="county">
        {% for county in counties%}
        <option type="submit" value="{{county}}">{{county}}</option>"
        {% endfor %}
    </select>
</form>

    <img src="/static/both.png" width="50%" height="45%" />
    <img src="/static/cumulative.png" width="45%" height="45%" />
    <img src="/static/reports.png" width="45%" height="45%" />
</body>
</html>